body {
    font-family: 'Arimo', sans-serif;
    color: white;
    background-color: #000000;
    background-image: url("/static/ban.png");
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    padding: 50px;
    min-height: calc(100vh - 116px);

}

.infDigital-card {
    background-color: rgba(0, 0, 23, 0.84);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;

}

img {
    height: 139px;
    width: 98px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(70, 70, 255, 0.99);
}


::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0);
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}

.form-control{
    background-color: rgba(87, 87, 87, 0.67);
}

.btn-salvar{
    background-color: #0000d3;
    padding: 10px;
    width: 85px;
    border-radius: 10px;
    color: white;


}

.btn-salvar:hover{
    background-color: #000091;
}

.btnexcluir,
.btneditar{
    background-color: #c40000;
    color: yellow;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
}

.btnexcluir:hover,
.btneditar:hover{
    background-color: #ff0000;
}

