<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influenciadores Digitais</title>
    <link rel="stylesheet" href="/static/estilo.css">

</head>
<body>
 <div>
        <h1>{{ Titulo }}</h1>
    </div>

    {% for InfDigital in ListaInfDigital %}

    <div class="infDigital-card">
        <h2>Nome: {{ InfDigital.nome }}</h2>
        <img src="/static/influencer.png">
        <p>Plataforma: {{ InfDigital.plataforma }}</p>
        <p>Seguidores: {{ InfDigital.seguidores }} </p>
        <p>Interesse: {{ InfDigital.interesse }} </p>

        <a class="btnexcluir" href="/excluir/{{ InfDigital.nome }}" >Excluir</a>
        <a class="btneditar" href="editar/{{ InfDigital.nome }}" >Editar</a>
        <br>


    </div>

    {% endfor %}

</body>
</html>
